<section>
    <div class="container-md">
        <div class="row">
            <div class="col-lg-6 col-xs-12" *ngIf="article">
                <div id="mainCarousel" class="carousel slide mb-3">
                    <div class="carousel-inner">
                        <div class="carousel-item" *ngFor="let img of variantImages(); let i = index"
                            [class.active]="i === selectedIndex">

                            <img [src]="img" class="d-block w-100 main-img" alt="slide"
                                style="width: 100%; max-height: 500px; object-fit: contain;">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" (click)="prev()">
                        <span class="carousel-control-prev-icon">
                            <img src="assets/icons/arrow_back.svg" alt="">
                        </span>
                    </button>

                    <button class="carousel-control-next" type="button" (click)="next()">
                        <span class="carousel-control-next-icon">
                            <img src="assets/icons/arrow_forward.svg" alt="">
                        </span>
                    </button>
                </div>
                <div class="d-flex gap-2 justify-content-center flex-wrap">
                    <img *ngFor="let img of variantImages(); let i = index" [src]="img" class="thumb"
                        [class.active-thumb]="i === selectedIndex" (click)="selectImage(i)">
                </div>
            </div>
            <div class="col-lg-6 col-xs-12 " *ngIf="article">
                <h2 class="mb-3">{{article.name}}</h2>
                <h4 class="mb-0">
                    @if (selectedSize == undefined && sizesAvailable.length > 0) {
                    Bitte Größe auswählen
                    }
                    @else {
                    {{productPrice().toFixed(2).replace(".", ",")}} €
                    }

                </h4>
                <p class="m-0">pro Stück excl. Versandkosten</p>
                <p><img src="assets/icons/delivery_truck.svg" alt=""> Lieferzeit cirka 2 Wochen</p>
                <div class="d-flex gap-4 align-items-start flex-column justify-content-center">
                    <div class="d-flex flex-column">
                        <span class="fw-bold">Menge:</span>
                        <mat-select required placeholder="Menge" class="amount-selector" [value]="selectedAmount"
                            (selectionChange)="selectedAmount = $event.value">
                            @for (number of amount; track $index) {
                            <mat-option [value]="number">{{number}} Stk</mat-option>
                            }
                        </mat-select>
                    </div>

                    <div class="d-flex flex-column">
                        <span class="fw-bold">Farbe:</span>
                        <div class="d-flex gap-1 flex-wrap">
                            @for (color of colors(); track $index) {
                            <div class="color-picker-radio" [ngStyle]="backgroundColor(color.toLocaleLowerCase())"
                                [ngClass]="{'selected': selectedColor === color}"
                                (click)="changeVariant(color.toLocaleLowerCase())">
                                <div class="color-picker-radio-divider"></div>
                            </div>
                            }
                        </div>
                    </div>
                    @if(this.sizesAvailable.length > 0) {
                    <div>
                        <span class="fw-bold">Größe:</span>
                        <div class="d-flex gap-1">
                            @for(size of sizesAvailable; track size) {
                            <div class="size-badge" [ngClass]="{'selected': selectedSize === size }"
                                (click)="changeSize(size)">
                                <span>{{size}}</span>
                            </div>

                            }
                        </div>
                        <p style="text-decoration: underline;">Größentabelle</p>
                    </div>

                    }

                    <button type="button" (click)="addToCart()" [disabled]="addButtonDisabled"
                        [ngClass]="{disabled: addButtonDisabled}" class="btn btn-primary" style="width: 100%;">In
                        den Warenkorb</button>
                </div>
            </div>
        </div>
        <div *ngIf="article" class="row mt-5">
            <div class="col-lg-6 col-xs-12">
                <h3 class="">Produktbeschreibung</h3>
                <p>{{article.description}} Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente
                    laudantium,
                    eos molestias illo quisquam magnam dignissimos? Repellendus est mollitia eius, aut, provident
                    sapiente
                    excepturi perspiciatis eos explicabo sunt vero eveniet.</p>
            </div>
            <div class="col-lg-6 col-xs-12 manufacturer-box">
                <div class="">
                    <p><strong>Hersteller Informationen</strong></p>
                    <p>{{article.manufacturer.name}}</p>
                    <p class="manufacturer-address">{{article.manufacturer.address}}</p>
                    <p>{{article.manufacturer.link}}</p>
                </div>

            </div>
        </div>
        <div class="previous-articles">
            <div #previousContent class="previous-banner">
                @for(item of [1,2,3,4,5,6,7,8,9]; track $index) {
                <div class="previous-item">
                    <img src="/assets/img/t-shirt/frohnhausen-tshirt-blue.png" alt="">
                    <p>39,00 €</p>
                </div>
                }
            </div>
            <div (click)="scrollLeft()" class="banner-icon"><img src="assets/icons/arrow_forward.svg" alt=""></div>
            <div (click)="scrollRight()" class=" banner-icon absolute-right"><img
                    src="assets/icons/arrow_forward.svg" alt=""></div>
        </div>

    </div>
</section>