section {
    margin: 200px 0;
    min-height: calc(100% - 450px);
}

.amount-selector {
    width: 100px;
    border: 1px solid #ccc;
    padding: 4px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}