section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--bg-color);
    transition: background-color 125ms ease-in-out;

}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    padding: 0px 64px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;

}

.logo {
    display: flex;
    align-items: flex-end;
    gap: 16px;

    img {
        width: 100px;
    }

    span {
        color: var(--primary-color);
    }
}

.mobile-menu {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--primary-color);
    display: none;
    justify-content: center;
    align-items: center;
    display: none;
    

    img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(183deg) brightness(108%) contrast(103%);
    }
}

.mobile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    width: 235px;

    a {
        font-size: 25px;
    }
}

.opacity {
    background-color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 1024px) {
    .mobile-menu {
        display: flex;
    }

    nav {
        display: none;
    }
}

@media (max-width: 600px) {
    .logo {
        img {
            width: 80px;
        }

    }

    .content {
        padding: 0 12px;
    }

}