<section [ngClass]="getOpacity()">
    <div class="content">
        <div class="logo">
            <a [routerLink]="'/'" fragment="home"><img src="assets/img/logo/logo.png" alt=""></a>
            <span>Deine Agentur für alles</span>
        </div>



        <nav>
            <a [routerLink]="'/'" fragment="home">Home</a>
            <a [routerLink]="'/'" fragment="about_me">Über uns</a>
            <a [routerLink]="'/'" fragment="product">Produkte</a>
            <a routerLink="/contact">Kontakt</a>
            <div class="whatsapp-button">

                <a target="_blank" href="https://wa.me/491606252428">
                    <img src="assets/img/logo/Digital_Glyph_White.svg" alt="">
                </a>
            </div>
        </nav>
        <div [matMenuTriggerFor]="mobileMenu" class="mobile-menu">
            <img src="assets/icons/menu.svg" alt="">
        </div>
        <mat-menu #mobileMenu="matMenu">
            <div class="mobile-nav">
                <a [routerLink]="'/'" fragment="home">Home</a>
                <a [routerLink]="'/'" fragment="about_me">Über uns</a>
                <a [routerLink]="'/'" fragment="product">Produkte</a>
                <a routerLink="/contact">Kontakt</a>
            </div>

        </mat-menu>
    </div>
</section>