<section>
    <div class="content">
        <div class="logo">
            <a href="#home"><img src="assets/img/logo/merch24.png" alt=""></a>
        </div>
        <nav>
            <a href="">Home</a>
            <a href="">Produkte</a>
            <a href="">Über uns</a>
            <a href="">Kontakt</a>
            <div class="whatsapp-button">

                <a target="_blank" href="https://wa.me/0491606252428">
                    <img src="assets/img/logo/Digital_Glyph_White.svg" alt="">
                </a>
            </div>
        </nav>
    </div>
</section>