<section>
    <div class="img">

    </div>
    <h1>
        Merch24 - Deine Agentur für alles
    </h1>
    <div class="content">
        <!-- <div class="text">
            <div class="left-side">
                <h2>
                    Merch24
                </h2>
                <p>
                    Die Bluray Merchandising GmbH wurde 2014 in Essen-Frohnhausen gegründet und betreibt dort ebenfalls
                    die
                    Geschäftsstelle in der die meisten Aufträge hergestellt werden. <br>

                    Geschäftsführer und Ansprechpartner vor Ort ist Colin Raymond.
                </p>

                <h2>
                    Lizenzpartner
                </h2>
                <p>
              
                </p>
                <h2>
                    Sortiment
                </h2>
                <p>
                    Neben Job und Familie nehmen das Sport- und Vereinsleben den wohl größten Stellenwert in unserem
                    Leben
                    ein.
                    Ob als Teamplayer einer Mannschaft im Hobby- oder Profisport, als unterstützender Fan auf der
                    Tribüne,
                    als
                    Vereinsmitglied bei der Schützenbruderschaft, Aktiver im Karnevalsverein oder mehr als Förderer im
                    Backstage-Bereich. Deutschland ist und bleibt ein Land der Vereine. Tausende Veranstaltungen und
                    Wettbewerbe
                    zählt ein Sportjahr, dazu unzählige Schützen-, Karnevals- oder andere Brauchtumsfeste.
                    <br>
                    <br>



                    Pokale, Trophäen, Medaillen, Mannschaftstrikots, Hoodies, Shirts, Vereinsschals, Caps, Mützen,
                    Armbänder,
                    Orden und viele andere Accessoires sind das Gesicht, das Aushängeschild eines jeden Vereins oder
                    Clubs.
                    Jeder Supporter opfert nicht nur ungezählte Liter Herzblut, sondern bekennt auch gerne öffentlich
                    und
                    vor
                    allem ganz individuell Farbe für sein Dreamteam. Alles was es zum Vereinsleben und zur
                    Identifikation
                    bedarf
                    erhaltet ihr bei der Bluray Merchandising GmbH in qualitativ hochwertigster Verarbeitung und
                    Ausführung
                    zu
                    stets moderaten und absolut fairen Preisen. Alle Produkte werden eurem Wunsch entsprechend
                    produziert,
                    so
                    dass eure Farben immer mit der besten Aussenwirkung aufwarten können – ganz gleich ob bei einem
                    Heimspiel
                    oder auswärts in der Ferne. Überlasst eure Vereinsfarben nicht dem Zufall.

                    <br>
                    <br>

                    Vom Dartturnier in eurer Stammkneipe bis in die Fankurven der größten Sportarenen bin ich euer
                    kompetenter,
                    zuverlässiger Ausstatter rund um alle Merchandising Produkte, Pokale und Medaillen. Sprecht mich
                    gerne
                    an!
                </p>
            </div>
            <div class="right-side">
                <img class="shop-img" src="assets/img/shop.jpg" alt="">


                <div>
                    <div class="text-info">
                        <mat-icon>schedule</mat-icon>
                        <table>
                            <tr>
                                <th scope="row">Montag</th>
                                <td><time datetime="13:00">10:00</time> - <time datetime="18:00">18:00</time> Uhr</td>
                            </tr>
                            <tr>
                                <th scope="row">Dienstag</th>
                                <td><time datetime="13:00">10:00</time> - <time datetime="18:00">18:00</time> Uhr</td>
                            </tr>
                            <tr>
                                <th scope="row">Mittwoch</th>
                                <td><time datetime="13:00">10:00</time> - <time datetime="18:00">18:00</time> Uhr</td>
                            </tr>
                            <tr>
                                <th scope="row">Donnerstag</th>
                                <td><time datetime="13:00">10:00</time> - <time datetime="18:00">18:00</time> Uhr</td>
                            </tr>
                            <tr>
                                <th scope="row">Freitag</th>
                                <td><time datetime="13:00">10:00</time> - <time datetime="18:00">18:00</time> Uhr</td>
                            </tr>
                            <tr>
                                <th scope="row">Samstag</th>
                                <td>Nach Vereinbarung</td>
                            </tr>
                        </table>

                    </div>
                    <div class="text-info">
                        <mat-icon>location_on</mat-icon>
                        <p>Dahnstr. 18 <br>
                            45144 Essen (Frohnhausen) <br>
                            <a target="_blank"
                                href="https://www.google.com/maps/place/Dahnstra%C3%9Fe+18,+45144+Essen/@51.4506835,6.9772307,18.5z/data=!4m6!3m5!1s0x47b8c2f2125439f5:0x62299bf69ae321e1!8m2!3d51.4507772!4d6.9780159!16s%2Fg%2F11c3q3n_8s?entry=ttu&g_ep=EgoyMDI1MDgxMi4wIKXMDSoASAFQAw%3D%3D">Auf
                                Google Maps anzeigen</a>
                        </p>
                    </div>

                    <div class="text-info">
                        <mat-icon>call</mat-icon>
                        <p>Telefon: <a href="tel:+4920179875194">+49 201 - 79875194 </a><br>
                            Mobil: <a href="tel:+491606252428">+49 160 6252428</a></p>
                    </div>

                    <div class="text-info">
                        <mat-icon>mail</mat-icon>
                        <p>E-Mail: <a href="mailto:info@merch24.de">info&#64;merch24.de</a></p>
                    </div>










                </div>

            </div>

        </div> -->

        <div class="contact-form-section">
            <form>
                <h2>Kontaktformular</h2>
                <div class="name">
                    <input type="text" class="first-name" placeholder="Vorname">
                    <input type="text" class="last-name" placeholder="Nachname">
                </div>
                <input type="email" class="email" placeholder="Email">
                <input type="tel" class="tel" placeholder="Telefonnummer">
                <label for="category">Thema:</label>
                <select name="category" id="category">
                    <option value="" >Wähl ein Thema...</option>
                    <option value="1" >Stickerei – edel & langlebig</option>
                    <option value="2">Flexdruck & Foliendruck & DTF & UV-DTF & Siebdruck</option>
                    <option value="3">Vereinsbedarf</option>
                    <option value="4">Grafikdesign – dein Look, dein Stil</option>
                    <option value="5">Professionelle Fotografie – für besondere Momente</option>
                    <option value="6">Individuelle Pokale & Medaillen – nach Wunsch gestaltet</option>
                    <option value="7">Teamwear von Stanno & Puma & Jako einheitlich auftreten</option>
                    <option value="8">Workwear Payper</option>
                    <option value="9">Sonstiges</option>
                </select>
                <textarea name="textarea_input" id="textarea_input" placeholder="Deine Nachricht..."></textarea>
                <div class="privacy">
                    <input type="checkbox" id="checkbox" required>
                    <label for="">Ich habe die [Datenschutzerklärung] gelesen und akzeptiere sie</label>
                </div>
                
                <button class="primary-button"><span>Senden</span></button>


            </form>




        </div>


    </div>
</section>