<section>
    <div class="img">

    </div>
    <div class="header">
        <h1>
            Hast du ein spannendes Projekt oder eine Idee im Kopf?
        </h1>
        <p>
            Egal ob du schon konkrete Vorstellungen hast oder einfach nur unverbindlich über eine Idee
            sprechen möchtest, ich bin gespannt auf deine Nachricht.
        </p>
    </div>
    <div class="content">
        <!-- <div class="text">
            <div class="left-side">
                <h2>
                    Merch24
                </h2>
                <p>
                    Die Bluray Merchandising GmbH wurde 2014 in Essen-Frohnhausen gegründet und betreibt dort ebenfalls
                    die
                    Geschäftsstelle in der die meisten Aufträge hergestellt werden. <br>

                    Geschäftsführer und Ansprechpartner vor Ort ist Colin Raymond.
                </p>

                <h2>
                    Lizenzpartner
                </h2>
                <p>
              
                </p>
                <h2>
                    Sortiment
                </h2>
                <p>
                    Neben Job und Familie nehmen das Sport- und Vereinsleben den wohl größten Stellenwert in unserem
                    Leben
                    ein.
                    Ob als Teamplayer einer Mannschaft im Hobby- oder Profisport, als unterstützender Fan auf der
                    Tribüne,
                    als
                    Vereinsmitglied bei der Schützenbruderschaft, Aktiver im Karnevalsverein oder mehr als Förderer im
                    Backstage-Bereich. Deutschland ist und bleibt ein Land der Vereine. Tausende Veranstaltungen und
                    Wettbewerbe
                    zählt ein Sportjahr, dazu unzählige Schützen-, Karnevals- oder andere Brauchtumsfeste.
                    <br>
                    <br>



                    Pokale, Trophäen, Medaillen, Mannschaftstrikots, Hoodies, Shirts, Vereinsschals, Caps, Mützen,
                    Armbänder,
                    Orden und viele andere Accessoires sind das Gesicht, das Aushängeschild eines jeden Vereins oder
                    Clubs.
                    Jeder Supporter opfert nicht nur ungezählte Liter Herzblut, sondern bekennt auch gerne öffentlich
                    und
                    vor
                    allem ganz individuell Farbe für sein Dreamteam. Alles was es zum Vereinsleben und zur
                    Identifikation
                    bedarf
                    erhaltet ihr bei der Bluray Merchandising GmbH in qualitativ hochwertigster Verarbeitung und
                    Ausführung
                    zu
                    stets moderaten und absolut fairen Preisen. Alle Produkte werden eurem Wunsch entsprechend
                    produziert,
                    so
                    dass eure Farben immer mit der besten Aussenwirkung aufwarten können – ganz gleich ob bei einem
                    Heimspiel
                    oder auswärts in der Ferne. Überlasst eure Vereinsfarben nicht dem Zufall.

                    <br>
                    <br>

                    Vom Dartturnier in eurer Stammkneipe bis in die Fankurven der größten Sportarenen bin ich euer
                    kompetenter,
                    zuverlässiger Ausstatter rund um alle Merchandising Produkte, Pokale und Medaillen. Sprecht mich
                    gerne
                    an!
                </p>
            </div>
            <div class="right-side">
                <img class="shop-img" src="assets/img/shop.jpg" alt="">


                <div>
                    <div class="text-info">
                        <mat-icon>schedule</mat-icon>
                        <table>
                            <tr>
                                <th scope="row">Montag</th>
                                <td><time datetime="13:00">10:00</time> - <time datetime="18:00">18:00</time> Uhr</td>
                            </tr>
                            <tr>
                                <th scope="row">Dienstag</th>
                                <td><time datetime="13:00">10:00</time> - <time datetime="18:00">18:00</time> Uhr</td>
                            </tr>
                            <tr>
                                <th scope="row">Mittwoch</th>
                                <td><time datetime="13:00">10:00</time> - <time datetime="18:00">18:00</time> Uhr</td>
                            </tr>
                            <tr>
                                <th scope="row">Donnerstag</th>
                                <td><time datetime="13:00">10:00</time> - <time datetime="18:00">18:00</time> Uhr</td>
                            </tr>
                            <tr>
                                <th scope="row">Freitag</th>
                                <td><time datetime="13:00">10:00</time> - <time datetime="18:00">18:00</time> Uhr</td>
                            </tr>
                            <tr>
                                <th scope="row">Samstag</th>
                                <td>Nach Vereinbarung</td>
                            </tr>
                        </table>

                    </div>
                    <div class="text-info">
                        <mat-icon>location_on</mat-icon>
                        <p>Dahnstr. 18 <br>
                            45144 Essen (Frohnhausen) <br>
                            <a target="_blank"
                                href="https://www.google.com/maps/place/Dahnstra%C3%9Fe+18,+45144+Essen/@51.4506835,6.9772307,18.5z/data=!4m6!3m5!1s0x47b8c2f2125439f5:0x62299bf69ae321e1!8m2!3d51.4507772!4d6.9780159!16s%2Fg%2F11c3q3n_8s?entry=ttu&g_ep=EgoyMDI1MDgxMi4wIKXMDSoASAFQAw%3D%3D">Auf
                                Google Maps anzeigen</a>
                        </p>
                    </div>

                    <div class="text-info">
                        <mat-icon>call</mat-icon>
                        <p>Telefon: <a href="tel:+4920179875194">+49 201 - 79875194 </a><br>
                            Mobil: <a href="tel:+491606252428">+49 160 6252428</a></p>
                    </div>

                    <div class="text-info">
                        <mat-icon>mail</mat-icon>
                        <p>E-Mail: <a href="mailto:info@merch24.de">info&#64;merch24.de</a></p>
                    </div>










                </div>

            </div>

        </div> -->

        <div class="text-container">
            <div>
                <h2>Wie erreichst du uns</h2>


                <div class="text-info">
                    <img src="assets/icons/call.svg" alt="">
                    <p>Telefon: <a href="tel:+4920179875194">+49 201 - 79875194 </a><br>
                        Mobil: <a href="tel:+491606252428">+49 160 6252428</a></p>
                </div>
                <div class="text-info">
                    <img src="assets/icons/mail.svg" alt="">
                    <p>E-Mail: <a href="mailto:info@merch24.de">info&#64;merch24.de</a></p>
                </div>

                <div class="text-info">
                    <img src="assets/icons/mail.svg" alt="">
                    <p><a [routerLink]="'/contact'" fragment="form">Kontaktformular</a></p>
                </div>
            </div>
            <div class="placeholder"></div>
            <div>
                <h2>Wo findest du uns?</h2>
                <div class="text-info">
                    <img src="assets/icons/location_on.svg" alt="">
                    <p>Dahnstr. 18 <br>
                        45144 Essen (Frohnhausen) <br>
                        <a target="_blank"
                            href="https://www.google.com/maps/place/Dahnstra%C3%9Fe+18,+45144+Essen/@51.4506835,6.9772307,18.5z/data=!4m6!3m5!1s0x47b8c2f2125439f5:0x62299bf69ae321e1!8m2!3d51.4507772!4d6.9780159!16s%2Fg%2F11c3q3n_8s?entry=ttu&g_ep=EgoyMDI1MDgxMi4wIKXMDSoASAFQAw%3D%3D">Auf
                            Google Maps anzeigen</a>
                    </p>
                </div>
            </div>
            <div class="placeholder"></div>
            <div>
                <h2>Wann sind wir für dich da?</h2>
                <div class="text-info">
                    <img src="assets/icons/clock.svg" alt="">
                    <table>
                        <tr>
                            <th scope="row">Montag - Freitag</th>
                            <td><time datetime="10:00">10:00</time> - <time datetime="18:00">18:00</time> Uhr</td>
                        </tr>
                        <tr>
                            <th scope="row">Samstag</th>
                            <td>Nach Vereinbarung</td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="placeholder-mobile"></div>
        </div>


        <div class="about-us">
            <h2>Über uns</h2>
            <p>
                Die Bluray Merchandising GmbH wurde 2014 in Essen-Frohnhausen gegründet und betreibt dort ebenfalls
                die
                Geschäftsstelle in der die meisten Aufträge hergestellt werden. <br>

                Geschäftsführer und Ansprechpartner vor Ort ist Colin Raymond.
            </p>
            <h2>
                Sortiment
            </h2>
            <p>
                Neben Job und Familie nehmen das Sport- und Vereinsleben den wohl größten Stellenwert in unserem
                Leben
                ein.
                Ob als Teamplayer einer Mannschaft im Hobby- oder Profisport, als unterstützender Fan auf der
                Tribüne,
                als
                Vereinsmitglied bei der Schützenbruderschaft, Aktiver im Karnevalsverein oder mehr als Förderer im
                Backstage-Bereich. Deutschland ist und bleibt ein Land der Vereine. Tausende Veranstaltungen und
                Wettbewerbe
                zählt ein Sportjahr, dazu unzählige Schützen-, Karnevals- oder andere Brauchtumsfeste.
                <br>
                <br>



                Pokale, Trophäen, Medaillen, Mannschaftstrikots, Hoodies, Shirts, Vereinsschals, Caps, Mützen,
                Armbänder,
                Orden und viele andere Accessoires sind das Gesicht, das Aushängeschild eines jeden Vereins oder
                Clubs.
                Jeder Supporter opfert nicht nur ungezählte Liter Herzblut, sondern bekennt auch gerne öffentlich
                und
                vor
                allem ganz individuell Farbe für sein Dreamteam. Alles was es zum Vereinsleben und zur
                Identifikation
                bedarf
                erhaltet ihr bei der Bluray Merchandising GmbH in qualitativ hochwertigster Verarbeitung und
                Ausführung
                zu
                stets moderaten und absolut fairen Preisen. Alle Produkte werden eurem Wunsch entsprechend
                produziert,
                so
                dass eure Farben immer mit der besten Aussenwirkung aufwarten können – ganz gleich ob bei einem
                Heimspiel
                oder auswärts in der Ferne. Überlasst eure Vereinsfarben nicht dem Zufall.

                <br>
                <br>

                Vom Dartturnier in eurer Stammkneipe bis in die Fankurven der größten Sportarenen bin ich euer
                kompetenter,
                zuverlässiger Ausstatter rund um alle Merchandising Produkte, Pokale und Medaillen. Sprecht mich
                gerne
                an!
            </p>
        </div>







        <div class="contact-form-section" id="form">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" novalidate #formEl>
                <h2>Kontaktformular</h2>

                <input type="text" class="first-name" placeholder="Vorname" name="firstName"
                    [(ngModel)]="contactData.firstName" required #firstnameCtrl="ngModel">
                <div class="error" *ngIf="firstnameCtrl.invalid && (firstnameCtrl.touched || contactForm.submitted)">
                    Bitte gib einen gültigen Vorname ein.
                </div>
                <input type="text" class="last-name" placeholder="Nachname" name="lastName"
                    [(ngModel)]="contactData.lastName" required #lastnameCtrl="ngModel">
                <div class="error" *ngIf="lastnameCtrl.invalid && (lastnameCtrl.touched || contactForm.submitted)">
                    Bitte gib einen gültigen Nachname ein.
                </div>

                <input type="email" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" class="email"
                    placeholder="Email" name="email" [(ngModel)]="contactData.email" required #emailCtrl="ngModel">
                <div class="error" *ngIf="emailCtrl.invalid && (emailCtrl.touched || contactForm.submitted)">
                    Bitte gib eine gültige Email ein.
                </div>
                <input type="tel" class="tel" placeholder="Telefonnummer" name="telephone"
                    [(ngModel)]="contactData.telephone" pattern="^[0-9\s\-+]{6,20}$">
                <div class="error" *ngIf="emailCtrl.invalid && (emailCtrl.touched || contactForm.submitted)">
                    Bitte gib eine gültige Telefonnummer ein.
                </div>
                <select name="category" id="category" [(ngModel)]="contactData.subject" required #optionCtrl="ngModel">
                    <option value="">Wähl ein Thema...</option>
                    <option value="Stickerei – edel & langlebig">Stickerei – edel & langlebig</option>
                    <option value="Flexdruck & Foliendruck & DTF & UV-DTF & Siebdruck">Flexdruck & Foliendruck & DTF
                        & UV-DTF & Siebdruck</option>
                    <option value="Vereinsbedarf">Vereinsbedarf</option>
                    <option value="Grafikdesign – dein Look, dein Stil">Grafikdesign – dein Look, dein Stil</option>
                    <option value="Professionelle Fotografie – für besondere Momente">Professionelle Fotografie –
                        für besondere Momente</option>
                    <option value="Individuelle Pokale & Medaillen – nach Wunsch gestaltet">Individuelle Pokale &
                        Medaillen – nach Wunsch gestaltet</option>
                    <option value="7">Teamwear von Stanno & Puma & Jako einheitlich auftreten</option>
                    <option value="Teamwear von Stanno & Puma & Jako einheitlich auftreten">Workwear Payper</option>
                    <option value="Sonstiges">Sonstiges</option>
                </select>
                <div class="error" *ngIf="optionCtrl.invalid && (optionCtrl.touched || contactForm.submitted)">
                    Bitte gib ein gültiges Thema ein.
                </div>
                <textarea name="textarea_input" id="textarea_input" placeholder="Deine Nachricht..." required
                    [(ngModel)]="contactData.message" minlength="50" #msgCtrl="ngModel"></textarea>
                <div class="error" *ngIf="msgCtrl.invalid && (msgCtrl.touched || contactForm.submitted)">
                    Bitte gib eine Nachricht mit mindestens 50 Zeichen ein.
                </div>
                <div class="privacy">
                    <input type="checkbox" id="checkbox" [(ngModel)]="isChecked" required name="checkbox"
                        #checkboxCtrl="ngModel">
                    <label for="checkbox" class="policy">Ich habe die <span
                            (click)="this.router.navigateByUrl('/privacy-policy'); $event.stopPropagation()">Datenschutzerklärung</span>
                        gelesen und akzeptiere sie</label>
                </div>
                <div class="error" *ngIf="checkboxCtrl.invalid && (checkboxCtrl.touched || contactForm.submitted)">
                    Bitte akzeptiere unsere Datenschutzerklärung.
                </div>

                <button type="submit" class="primary-button"
                    [ngClass]="{'primary-button-disabled': contactForm.invalid}">
                    <span>Senden</span>
                </button>


            </form>




        </div>







    </div>
</section>