<section>
    <div class="content">
        <div class="container">
            <div class="img-container">
                <img src="assets/img/{{ service.img }}.jpg" alt="">
            </div>
            <div class="text-container">
                <div class="title"><span>{{ service.title }}</span></div>
                <div class="text"><span>{{ service.text }}</span></div>
                <div class="primary-button">
                    <span>Kontakt</span>
                </div>
            </div>

        </div>
    </div>
</section>