<section>
    <div class="content">
        <div class="container">
            <div class="img-container">
                <img src="assets/img/cup.png" alt="">
            </div>
            <div class="text-container">
                <div class="title"><span>Individuelle Pokale & Medaillen – nach Wunsch gestaltet</span></div>
                <div class="text"><span>Ob Sportturnier, Firmenfeier, Kindergeburtstag oder Schulfest – bei uns bekommst du
                    Pokale und Medaillen, die perfekt zum Anlass passen.</span></div>
                <div class="primary-button">
                    <span>Zu den Pokale</span>
                </div>
            </div>

        </div>
    </div>
</section>