section {
    width: 100%;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
}

:host {
    width: 100%;
}

.content {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 108px 64px;
}

h2 {

    margin-bottom: 24px;
    font-size: 36px;
    color: var(--primary-color);
}

p {

    font-size: 21px;
    margin-bottom: 8px;
    text-align: center;
    color: var(--primary-color);
}

@media (max-width: 600px) {

    h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .content {
        padding: 108px 8px;
    }

}