<section>
    <div class="wrapper row">


        <div class="shipping-cart col-12 col-lg-8">
            <h2 class="text-center">Warenkorb Übersicht</h2>
            <div class="cart-container">
                @for (item of cart; track $index) {
                <div class="d-flex w-100 cart-item-container">
                    <div class="col-3 cart-img">
                        <img [src]="item.image" alt="image">
                    </div>
                    <div class="col-9 d-flex justify-content-between">
                        <div>
                            <p class="fw-bold">{{item.name}}</p>
                            <p>Menge: {{item.amount}}</p>
                            <p>Größe: {{item.size}}</p>
                        </div>
                        <div>
                            <span class="fw-bold">{{item.price.toFixed(2).replace(".",",")}} €</span>
                        </div>

                    </div>

                </div>
                }


            </div>
        </div>
        <div class="casse col-12 col-lg-4">
            <h2>Kasse</h2>
            <div class="casse-container">
                <table>
                    <tr>
                        <td>
                            <p>Zwischensumme ({{cart.length}} Artikel)</p>
                        </td>
                        <td>
                            <p>
                                {{sumPrice.toFixed(2).replace(".", ",")}} €
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Versand</p>
                        </td>
                        <td>
                            <p>{{shippingCost.toFixed(2).replace(".", ",")}} €</p>
                        </td>
                    </tr>
                    <tr class="last-price">
                        <td>
                            <p>Gesamtsumme</p>
                        </td>
                        <td>
                            <p>{{totalPrice.toFixed(2).replace(".", ",")}} €</p>
                        </td>

                    </tr>
                </table>
                <span class="btn btn-primary w-100 mt-2">Weiter zur Kasse</span>
            </div>
        </div>
    </div>
</section>