section {
    margin-top: 140px;
    place-items: center;
    margin-bottom: 100px;
}

h2,
h3,
h4,
h5 {
    color: var(--primary-color) !important;
}

.wrapper {
    display: flex;
    width: 100%;
    max-width: 1440px;

}

.cart-container {
    max-width: 1024px;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto
}

.cart-item-container {
    border: 3px solid var(--tertiary-color);
    border-radius: 3px;
    padding: 12px;
}

.cart-img {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.casse {
    display: flex;
    place-items: center;
    flex-direction: column;


}

.casse-container {
    width: 100%;
    padding: 12px;
    border-radius: 3px;
    border: 3px solid var(--tertiary-color);
    position: sticky;
    top: 114px;
}

tr,
table {
    width: 100%;
}

td {
    width: fit-content;

    p {
        margin-bottom: 2px;
    }
}

.last-price {
    border-top: 1px solid var(--primary-color);
}

.radio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--tertiary-color);
    border-radius: 20px;
    padding: 8px;
    width: 100%;
    cursor: pointer;
    user-select: none;
    transform: scale(1);
    transition: transform 100ms ease-in-out;


    h4 {
        margin: 0;
    }

    img {
        width: 40px;
    }



    &:hover {
        background-color: rgba(0, 0, 0, 0.027);
        transform: scale(1.02);
    }
}

.checked {
    background-color: var(--tertiary-color) !important;

    h4 {
        color: white !important;
    }

    img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(178deg) brightness(106%) contrast(102%);
        ;
    }
}

.primary-button {
    border: none;
    border-radius: 10px;
    padding: 4px 16px;

    &:hover {
        filter: brightness(1);
    }

    span {
        font-size: 21px !important;
    }

}

::ng-deep .radio-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

::ng-deep .mat-step-icon-state-edit {
    background-color: var(--primary-color) !important;
}

::ng-deep .mat-step-icon-selected {
background-color: var(--tertiary-color) !important;
}


.mobile-row {
    flex-direction: unset;
}

.invalid-radio {
    border-color: red !important;
}

.errors {
    color: red;
}

.order-disabled {
    background-color: #69696936 !important;
    cursor: not-allowed !important;
    transform: unset;
    span {
        color: #a5a5a5 !important;
    }
}





.mat-accent {
    --mdc-radio-selected-icon-color: white !important;
    --mdc-radio-selected-hover-icon-color: white !important;
    --mdc-radio-selected-focus-icon-color: white !important;
    --mdc-radio-selected-pressed-icon-color: white !important;

    --mdc-radio-unselected-icon-color: #515957 !important;
    --mdc-radio-unselected-hover-icon-color: #515957 !important;
    --mdc-radio-unselected-focus-icon-color: #515957 !important;
    --mdc-radio-unselected-pressed-icon-color: #515957 !important;
    --mat-radio-ripple-color: none !important;
    --mat-radio-checked-ripple-color: none !important;
}



::ng-deep .mat-mdc-form-field .mdc-floating-label {
    color: var(--primary-color) !important;
}

::ng-deep .mat-mdc-form-field .mdc-line-ripple::before,
::ng-deep .mat-mdc-form-field .mdc-line-ripple::after {
    border-bottom-color: var(--tertiary-color) !important;
}

::ng-deep .mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
    color: red !important;
}


::ng-deep .mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: red !important;
}

@media (max-width:768px) {
    ::ng-deep {
        .radio-group {
            flex-direction: column;
        }

    }

    .mobile-row {
        flex-direction: column;
        width: 100% !important;
    }

    .mobile-w-100 {
        width: 100% !important;
    }
}
