<section>
    <div class="wrapper row">


        <div class="shipping-cart col-12 col-lg-8">

            <mat-stepper #stepper>
                <mat-step>
                    <ng-template matStepLabel>Warenkorb</ng-template>
                    <ng-template matStepperIcon="edit">
                        1
                    </ng-template>




                    <h2 class="text-center">Warenkorb Übersicht</h2>
                    <div class="cart-container">
                        @for (item of cart; track $index) {
                        <div class="d-flex w-100 cart-item-container">
                            <div class="cart-img">
                                <img [src]="item.image" alt="image">
                            </div>
                            <div class="d-flex justify-content-between flex-grow-1">
                                <div class="flex-grow-1">
                                    <p class="fw-bold">{{item.name}}</p>
                                    <p class="m-0">Menge: {{item.amount}}</p>
                                    <p>Größe: {{item.size}}</p>
                                </div>
                                <div class="d-flex flex-column justify-content-between align-items-end flex-shrink-1">
                                    <div class="delete-icon" (click)="deleteItemFromCart(item)">
                                        <img src="assets/icons/delete.svg" alt="delete">
                                    </div>
                                    <span class="fw-bold">{{item.price.toFixed(2).replace(".",",")}} €</span>
                                </div>

                            </div>

                        </div>
                        }




                    </div>
                    <button mat-button matStepperNext>Zur Persönlichen Daten</button>
                </mat-step>
                <mat-step [stepControl]="firstFormGroup">
                    <ng-template matStepLabel>Persönliche Daten</ng-template>
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Fill out your name</ng-template>
                        <div class="d-flex flex-column align-items-center container-sm col-8">


                            <div class="d-flex gap-3 w-100">
                                <mat-form-field class="d-flex w-50">
                                    <mat-label>Vorname</mat-label>
                                    <input matInput formControlName="firstName" placeholder="Vorname" required>
                                </mat-form-field>
                                <mat-form-field class="d-flex w-50">
                                    <mat-label>Nachname</mat-label>
                                    <input matInput formControlName="lastName" placeholder="Nachname" required>
                                </mat-form-field>

                            </div>
                            <div class="d-flex w-100">
                                <mat-form-field class="w-100">
                                    <mat-label>Email</mat-label>
                                    <input matInput formControlName="email" placeholder="Email" required>
                                </mat-form-field>
                            </div>
                            <div class="d-flex w-100">
                                <mat-form-field class="w-100">
                                    <mat-label>Adresse</mat-label>
                                    <input matInput formControlName="address" placeholder="Adresse" required>
                                </mat-form-field>
                            </div>
                            <div class="d-flex gap-3 w-100">
                                <mat-form-field class="w-25">
                                    <mat-label>PLZ</mat-label>
                                    <input matInput formControlName="zip" placeholder="PLZ" maxlength="5" required>
                                </mat-form-field>
                                <mat-form-field class="w-75">
                                    <mat-label>Stadt</mat-label>
                                    <input matInput formControlName="city" placeholder="Stadt" required>
                                </mat-form-field>
                            </div>

                            <div>
                                <button class="btn btn-primary" matStepperNext>Nächste</button>
                            </div>
                        </div>
                    </form>
                    <div>
                        <input type="checkbox" name="differentBillingAddressCheckbox" id="differentBillingAddress"
                        (change)="showDifferentBillingAddress  = $any($event.target).checked"><span>Rehnungadresse ist anderes</span>
                    </div>

                    <form [formGroup]="secondFormGroup" *ngIf="showDifferentBillingAddress">
                        <ng-template matStepLabel>Fill out your name</ng-template>
                        <div class="d-flex flex-column align-items-center container-sm col-8">


                            <div class="d-flex gap-3 w-100">
                                <mat-form-field class="d-flex w-50">
                                    <mat-label>Vorname</mat-label>
                                    <input matInput formControlName="firstName" placeholder="Vorname" required>
                                </mat-form-field>
                                <mat-form-field class="d-flex w-50">
                                    <mat-label>Nachname</mat-label>
                                    <input matInput formControlName="lastName" placeholder="Nachname" required>
                                </mat-form-field>

                            </div>
                            <div class="d-flex w-100">
                                <mat-form-field class="w-100">
                                    <mat-label>Email</mat-label>
                                    <input matInput formControlName="email" placeholder="Email" required>
                                </mat-form-field>
                            </div>
                            <div class="d-flex w-100">
                                <mat-form-field class="w-100">
                                    <mat-label>Adresse</mat-label>
                                    <input matInput formControlName="address" placeholder="Adresse" required>
                                </mat-form-field>
                            </div>
                            <div class="d-flex gap-3 w-100">
                                <mat-form-field class="w-25">
                                    <mat-label>PLZ</mat-label>
                                    <input matInput formControlName="zip" placeholder="PLZ" maxlength="5" required>
                                </mat-form-field>
                                <mat-form-field class="w-75">
                                    <mat-label>Stadt</mat-label>
                                    <input matInput formControlName="city" placeholder="Stadt" required>
                                </mat-form-field>
                            </div>

                            <div>
                                <button class="btn btn-primary" matStepperNext>Nächste</button>
                            </div>
                        </div>
                    </form>
                    <button mat-button matStepperPrevious>Zurück zum Warenkorb</button>
                </mat-step>

            </mat-stepper>
        </div>
        <div class="casse col-12 col-lg-4">
            <h2>Kasse</h2>
            <div class="casse-container">
                <table>
                    <tr>
                        <td>
                            <p>Zwischensumme ({{cart.length}} Artikel)</p>
                        </td>
                        <td>
                            <p>
                                {{sumPrice.toFixed(2).replace(".", ",")}} €
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Versand</p>
                        </td>
                        <td>
                            <p>{{shippingCost.toFixed(2).replace(".", ",")}} €</p>
                        </td>
                    </tr>
                    <tr class="last-price">
                        <td>
                            <p>Gesamtsumme</p>
                        </td>
                        <td>
                            <p>{{totalPrice.toFixed(2).replace(".", ",")}} €</p>
                        </td>

                    </tr>
                </table>

                <span class="btn btn-primary w-100 mt-2">Kostenpflichtig bestellen</span>
            </div>
        </div>
    </div>
</section>