<section>
    <div class="wrapper row">


        <div class="shipping-cart col-12 col-lg-8">
            <mat-stepper #stepper labelPosition="bottom">

                <mat-step>
                    <ng-template matStepLabel>Warenkorb</ng-template>
                    <ng-template matStepperIcon="edit">
                        1
                    </ng-template>
                    <h2 class="text-center">Warenkorb Übersicht</h2>
                    <div class="cart-container">
                        @for (item of cart; track $index) {
                        <div class="d-flex w-100 cart-item-container">
                            <div class="cart-img">
                                <img [src]="item.image" alt="image">
                            </div>
                            <div class="d-flex justify-content-between flex-grow-1">
                                <div class="flex-grow-1">
                                    <p class="fw-bold">{{item.name}}</p>
                                    <p class="m-0">Menge: {{item.amount}}</p>
                                    <p>Größe: {{item.size}}</p>
                                </div>
                                <div class="d-flex flex-column justify-content-between align-items-end flex-shrink-1">
                                    <div class="delete-icon" (click)="deleteItemFromCart(item)">
                                        <img src="assets/icons/delete.svg" alt="delete">
                                    </div>
                                    <span class="fw-bold">{{item.price.toFixed(2).replace(".",",")}} €</span>
                                </div>

                            </div>

                        </div>
                        }
                    </div>
                    <div class="w-100 d-flex justify-content-center my-3">
                        <button class="primary-button" matStepperNext><span>Weiter</span></button>
                    </div>
                </mat-step>

                <mat-step [stepControl]="firstFormGroup">
                    <ng-template matStepLabel>Adresse & Versand</ng-template>
                    <h2 class="text-center mt-5 mb-3">Lieferadresse </h2>
                    <div class="divider"></div>
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Fill out your name</ng-template>
                        <div class="d-flex flex-column align-items-center container-sm">
                            <div class="d-flex gap-3 w-100 mobile-row">
                                <mat-form-field class="d-flex w-50 mobile-w-100">
                                    <mat-label>Vorname</mat-label>
                                    <input matInput formControlName="firstName" placeholder="Vorname" required>
                                </mat-form-field>
                                <mat-form-field class="d-flex w-50 mobile-w-100">
                                    <mat-label>Nachname</mat-label>
                                    <input matInput formControlName="lastName" placeholder="Nachname" required>
                                </mat-form-field>
                            </div>
                            <div class="d-flex w-100">
                                <mat-form-field class="w-100">
                                    <mat-label>Firma (optional)</mat-label>
                                    <input matInput placeholder="Firma">
                                </mat-form-field>
                            </div>
                            <div class="d-flex w-100">
                                <mat-form-field class="w-100">
                                    <mat-label>Email</mat-label>
                                    <input matInput formControlName="email" placeholder="Email" required>
                                </mat-form-field>
                            </div>
                            <div class="d-flex w-100">
                                <mat-form-field class="w-100">
                                    <mat-label>Adresse</mat-label>
                                    <input matInput formControlName="address" placeholder="Adresse" required>
                                </mat-form-field>
                            </div>
                            <div class="d-flex gap-3 w-100 mobile-row">
                                <mat-form-field class="w-25 mobile-w-100">
                                    <mat-label>PLZ</mat-label>
                                    <input matInput formControlName="zip" placeholder="PLZ" maxlength="5" required>
                                </mat-form-field>
                                <mat-form-field class="w-75 mobile-w-100">
                                    <mat-label>Stadt</mat-label>
                                    <input matInput formControlName="city" placeholder="Stadt" required>
                                </mat-form-field>
                            </div>
                            <label for="differentBillingAddress">
                                <input type="checkbox" name="differentBillingAddressCheckbox"
                                    id="differentBillingAddress"
                                    (change)="showDifferentBillingAddress  = $any($event.target).checked"><span
                                    class="px-2">Rehnungadresse
                                    ist anderes</span>
                            </label>
                        </div>

                    </form>



                    <form [formGroup]="secondFormGroup" *ngIf="showDifferentBillingAddress">
                        <h2 class="text-center mt-5 mb-3">Rechnungadresse </h2>
                        <div class="divider"></div>
                        <div class="d-flex flex-column align-items-center container-sm">
                            <div class="d-flex gap-3 w-100">
                                <mat-form-field class="d-flex w-50">
                                    <mat-label>Vorname</mat-label>
                                    <input matInput formControlName="firstName" placeholder="Vorname" required>
                                </mat-form-field>
                                <mat-form-field class="d-flex w-50">
                                    <mat-label>Nachname</mat-label>
                                    <input matInput formControlName="lastName" placeholder="Nachname" required>
                                </mat-form-field>
                            </div>
                            <div class="d-flex w-100">
                                <mat-form-field class="w-100">
                                    <mat-label>Firma (optional)</mat-label>
                                    <input matInput placeholder="Firma">
                                </mat-form-field>
                            </div>
                            <div class="d-flex w-100">
                                <mat-form-field class="w-100">
                                    <mat-label>Adresse</mat-label>
                                    <input matInput formControlName="address" placeholder="Adresse" required>
                                </mat-form-field>
                            </div>
                            <div class="d-flex gap-3 w-100">
                                <mat-form-field class="w-25">
                                    <mat-label>PLZ</mat-label>
                                    <input matInput formControlName="zip" placeholder="PLZ" maxlength="5" required>
                                </mat-form-field>
                                <mat-form-field class="w-75">
                                    <mat-label>Stadt</mat-label>
                                    <input matInput formControlName="city" placeholder="Stadt" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>

                    <h2 class="text-center mt-5 mb-3">Versandart</h2>
                    <div class="divider"></div>
                    <mat-radio-group aria-labelledby="radio-group-label" class="radio-group"
                        [formControl]="shipmentControl">
                        @for (shipment of shipments; track shipment) {
                        <label class="radio-container"
                            [ngClass]="{'checked': shipmentControl.value === shipment, 'invalid-radio': shipmentControl.touched && shipmentControl.invalid}">
                            <mat-radio-button class="radio-button" [value]="shipment">
                                <h4 class="m-0">{{shipment}}</h4>
                            </mat-radio-button>

                            <img src="assets/icons/{{shipment}}.svg" alt="">
                        </label>

                        }

                    </mat-radio-group>
                    <div *ngIf="shipmentControl.invalid && shipmentControl.touched">
                        <span class="errors">Wählen Sie eine Versandart!</span>
                    </div>

                    <h2 class="text-center mt-5 mb-3">Zahlungsart</h2>
                    <div class="divider"></div>
                    <mat-radio-group aria-labelledby="radio-group-label" class="radio-group"
                        [formControl]="paymentControl">
                        @for (payment of payments; track payment) {
                        <label class="radio-container"
                            [ngClass]="{'checked': paymentControl.value === payment, 'invalid-radio': paymentControl.touched && paymentControl.invalid}">
                            <mat-radio-button class="radio-button" [value]="payment">
                                <h4 class="m-0">{{payment}}</h4>
                            </mat-radio-button>
                            <img src="assets/icons/{{payment}}.svg" alt="">
                        </label>
                        }

                    </mat-radio-group>
                    <div *ngIf="paymentControl.invalid && paymentControl.touched">
                        <span class="errors">Wählen Sie eine Zahlungsmethode!</span>
                    </div>

                    <div class="w-100 d-flex justify-content-center mt-5">
                        <div matStepperPrevious class="primary-button"><span>Zurück zum Warenkorb</span></div>
                    </div>
                </mat-step>
                <mat-step>
                    <h2>Übersicht</h2>
                    <div class="row">

                        <div class="col-6">
                            <p>Lieferadresse</p>
                        </div>
                        <div class="col-6">

                        </div>

                    </div>







                </mat-step>
            </mat-stepper>
        </div>
        <div class="casse col-12 col-lg-4">
            <h2>Kasse</h2>
            <div class="casse-container">
                <table>
                    <tr>
                        <td>
                            <p>Zwischensumme ({{cart.length}} Artikel)</p>
                        </td>
                        <td>
                            <p class="text-end">
                                {{sumPrice.toFixed(2).replace(".", ",")}} €
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Versand</p>
                        </td>
                        @if (shipmentControl.value == "") {
                        <td class="text-end">
                            <p>Wird berechnet</p>
                        </td>
                        } @else {
                        <td class="text-end">
                            <p>{{shippingCost.toFixed(2).replace(".", ",")}} €</p>
                        </td>
                        }


                    </tr>
                    <tr class="last-price">
                        <td>
                            <p class="fw-bold">Gesamtsumme</p>
                        </td>
                        <td class="text-end">
                            <p class="fw-bold">{{totalPrice.toFixed(2).replace(".", ",")}} €</p>
                        </td>

                    </tr>
                </table>

                <div class="d-flex w-100 justify-content-center mt-2">
                    <button class="primary-button" (click)="toOverview()"><span>Zur Bestellübersicht</span></button>
                    <button (click)="stepper.next()">stepper.step</button>
                </div>


            </div>
        </div>
    </div>
</section>