<section id="impressum">
    <div class="content">
        <h1>Datenschutzerklärung</h1>

        <h2>Allgemeine Hinweise</h2>
        <p>Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Personenbezogene Daten werden auf dieser Website
            nur
            insoweit verarbeitet, wie dies zur Bereitstellung einer funktionsfähigen und nutzerfreundlichen
            Internetseite
            erforderlich ist.</p>

        <h2>Links</h2>

        <p>Die Webseite der Bluray Merchandising GmbH enthält Links zu Webseiten, die ausschließlich von Dritten
        bereitgestellt und verwaltet werden. Diese Datenschutzrichtlinie gilt nicht für Webseiten, die von Dritten
        bereitgestellt und verwaltet werden. Bitte lesen Sie die Datenschutzrichtlinien dieser Webseiten, damit Sie
        wissen, wie dort mit Ihren persönlichen Informationen umgegangen wird. Ich mache keine Zusicherungen
        hinsichtlich der Datenschutzrichtlinien zu Webseiten von Dritten.</p>





        <h2>Erhebung und Verarbeitung von Daten, ggf. personenbezogener Daten</h2>

        <p>Wenn Sie einfach nur durch die Webseite der Bluray Merchandising GmbH navigieren und die angebotenen
        Informationen nutzen, werden automatisch bestimmte Informationen zu ihrem Besuch erfasst. Mit diesen
        Informationen können Sie aber nicht persönlich identifiziert werden. Im Einzelnen sind dies der Name der
        abgerufenen Datei, das Datum und die Uhrzeit des Abrufs, die Beschreibung des Typs des verwendeten Webbrowsers,
        die anfragende Domain und ihre IP-Adresse. Darüber hinausgehende personenbezogene Angaben wie ihr Name,
        Anschrift, Telefonnummer oder E-Mail werden nicht erfasst, es sei denn, sie übermitteln diese Angaben im Rahmen
        einer Anfrage, eines von ihnen erteilten Auftrags oder einer Bestellung freiwillig.</p>





        <h2>Verwendung von Social-Plugins</h2>

        <p>Auf den Webseiten der Bluray Merchandising GmbH sind Plugins des sozialen Netzwerks Facebook (Facebook Inc., 1
        Hacker Way, Menlo Park, California 94025, USA) integriert. Die Facebook-Plugins erkennen Sie an dem
        Facebook-Logo oder dem „Gefällt mir“ Button, der auf unserer Webseite integriert ist. Wenn Sie die Webseite der
        Bluray Merchandising GmbH besuchen, wird über das Plugin eine direkte Verbindung zwischen Ihrem Browser und dem
        Facebook-Server hergestellt. Facebook erhält dadurch die Information, dass Sie mit Ihrer IP-Adresse unsere
        Webseiten besucht haben. Wenn Sie den Facebook „Gefällt mir“ anklicken während Sie in Ihrem Facebook-Account
        eingeloggt sind, werden die Inhalte unserer Webseiten auf Ihrem Facebook-Profil verlinkt. Dadurch kann Facebook
        den Besuch unserer Seiten Ihrem Benutzerkonto zuordnen. Die Bluray Merchandising GmbH weist darauf hin, dass wir
        als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Facebook
        erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von Facebook.</p>



        <p>Sollten Sie es ablehnen, dass Facebook den Besuch auf den Webseiten der Bluray Merchandising GmbH Ihrem
        Facebook-Nutzerkonto zuordnen kann, loggen Sie sich bitte aus Ihrem Facebook-Benutzerkonto aus.</p>





        <h2>Google Maps</h2>

        <p>Die Webseite der Bluray Merchandising GmbH nutzt über eine API den Kartendienst Google Maps (Google Inc., 1600
        Amphitheatre Parkway Mountain View, CA 94043, USA). Zur Nutzung der Funktionen von Google Maps ist es notwendig,
        Ihre IP Adresse zu speichern. Diese Informationen werden in der Regel an einen Server von Google in den USA
        übertragen und dort gespeichert. Der Anbieter dieser Seite hat keinen Einfluss auf diese Datenübertragung.
        Mehr Informationen zum Umgang mit Nutzerdaten finden Sie in der Datenschutzerklärung von Google.</p>


        <h2>Google Analytics</h2>

        <p>Die Webseite der Bluray Merchandising GmbH verwendet auf ihren Webseiten kein Google Analytics.</p>


        <h2>Nutzung und Weitergabe von personenbezogenen Daten</h2>

        <p>Soweit Sie der Bluray Merchandising GmbH personenbezogene Daten zur Verfügung gestellt haben, werden diese
        ausschließlich zum Zweck der technischen Administration und zur Erfüllung ihrer Wünsche und Anforderungen,
        insbesondere zur Abwicklung des mit ihnen geschlossenen Vertrags oder zur Beantwortung ihrer Fragen genutzt.
        Eine Weitergabe, ein Verkauf oder sonstige Übermittlung ihrer personenbezogenen Daten an Dritte erfolgt nicht,
        es sei denn, dass dies zum Zwecke der Vertragsabwicklung oder Abrechnungszwecken erforderlich ist oder Sie zuvor
        eingewilligt haben. Sie haben das Recht, eine solche Einwilligung mit Wirkung für die Zukunft jederzeit zu
        widerrufen. Die Löschung der personenbezogenen Daten erfolgt, wenn Sie ihre Einwilligung zur Speicherung
        widerrufen, ihre Kenntnis zur Erfüllung des mit der Speicherung verfolgten Zwecks nicht mehr erforderlich ist
        oder ihre Speicherung aus sonstigen gesetzlichen Gründen unzulässig ist.</p>



        <p>Bei Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer personenbezogenen Daten sowie bei Auskünften,
        Berichtigung, Sperrung oder Löschung von Daten wenden Sie sich bitte ausschließlich schriftlich an die Bluray
        Merchandising GmbH, Hr. Colin Derek Raymond, Dahnstr. 18 in 45144 Essen. Bitte beachten Sie, dass eine Auskunft
        nur mit einem entsprechenden Identifikationsnachweis (Kopie Personalausweis oder Führerschein) erfolgt.</p>



        <h2>Cookies</h2>
        <p>Unsere Website verwendet keine Cookies zu Statistik- oder Marketingzwecken.
            Gegebenenfalls werden technisch notwendige Cookies eingesetzt (z. B. zur Steuerung von Pop-Ups). Diese
            werden
            nach Ende Ihrer Sitzung automatisch gelöscht.</p>

        <h2>Server-Logfiles</h2>
        <p>Beim Aufruf unserer Website werden durch den Provider automatisch Informationen in sogenannten
            Server-Logfiles
            gespeichert. Dies sind:</p>

        <ul>
            <li>
                Browsertyp und -version
            </li>
            <li>
                verwendetes Betriebssystem
            </li>
            <li>
                Referrer URL
            </li>
            <li>
                Hostname des zugreifenden Rechners
            </li>
            <li>
                Uhrzeit der Serveranfrage
            </li>
            <li>
                IP-Adresse
            </li>
        </ul>

        <p>Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen
            Datenquellen wird nicht vorgenommen.</p>

        <h2>Kontakt per E-Mail</h2>
        <p>Wenn Sie uns per E-Mail kontaktieren, werden Ihre Angaben (z. B. Name, E-Mail-Adresse, Inhalt der Nachricht)
            ausschließlich zur Bearbeitung Ihrer Anfrage verwendet. Eine Weitergabe an Dritte erfolgt nicht.</p>


        <h2>Google Fonts und Google Icons</h2>
        <p>Unsere Website verwendet Schriftarten (Google Fonts) sowie Symbole (Google Material Icons). Diese Ressourcen
            sind lokal auf unserem Server gespeichert. Es wird keine Verbindung zu Servern von Google hergestellt, und
            es
            werden keine Daten an Google übertragen.</p>

        <h2>Kontaktformular</h2>
        <p>Wenn Sie uns über das Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem Formular
            inklusive der von Ihnen dort angegebenen Kontaktdaten ausschließlich zur Bearbeitung Ihrer Anfrage
            gespeichert. Eine Weitergabe an Dritte erfolgt nicht. Die Verarbeitung der in das Formular eingegebenen
            Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b DSGVO (zur Erfüllung eines Vertrags oder zur
            Durchführung vorvertraglicher Maßnahmen) bzw. Art. 6 Abs. 1 lit. f DSGVO (berechtigtes Interesse an der
            Bearbeitung von Anfragen).</p>

        <h2>Links zu externen Anbietern</h2>
        <p>Unsere Website enthält Links zu externen Seiten (z. B. Google Maps, Facebook, Instagram, WhatsApp). Beim
            Anklicken dieser Links verlassen Sie unsere Website und werden direkt zu den Diensten des jeweiligen
            Anbieters
            weitergeleitet.
            Bitte beachten Sie, dass für diese externen Seiten die Datenschutzrichtlinien der jeweiligen Anbieter
            gelten.</p>

        <ul>
            <li>
                <a target="_blank" href="https://policies.google.com/privacy">Google Datenschutzerklärung</a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/privacy/policy">Meta (Facebook & Instagram)</a>
            </li>
            <li>
                <a target="_blank" href="https://www.whatsapp.com/legal/privacy-policy-eea">WhatsApp</a>
            </li>
        </ul>

        <h2>Rechte der betroffenen Personen</h2>
        <p>Sie haben jederzeit das Recht auf Auskunft über die von uns gespeicherten personenbezogenen Daten sowie auf
            Berichtigung, Löschung oder Einschränkung der Verarbeitung.
            Bitte wenden Sie sich hierzu über die im Impressum angegebenen Kontaktdaten an uns.</p>

    </div>
</section>