<section>
    <div class="content">

        <h1>Aktuelles bei uns</h1>
        <h3>Hier findest du unsere aktuellen Neuigkeiten, Artikel und Angebote auf einen Blick.</h3>

        <div class="content-container">
            @for (card of [1,2,3]; track $index) {

            <div class="card" (mouseenter)="onEnter($index)" (mouseleave)="onLeave($index)"
                [class.is-active]="activeIndex === $index" [class.is-leaving]="leavingIndex === $index">
                <div class="container">


                    <div class="img-site">
                        <img src="assets/img/fanschals.jpg" alt="">
                        <div class="text-container">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
                        </div>
                    </div>

                </div>
            </div>
            }

        </div>







    </div>

</section>