section {
    display: flex;
    justify-content: center;
    padding: 0 64px;
    margin-top: 200px;

}

.img-site {
    border-radius: 100%;
    width: 200px;
    height: 200px;

    img {
        border-radius: 100%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        position: relative;


    }
}

.content-container {
    display: flex;
}

.card {
  position: relative;
  z-index: 1;
}

.card.is-active,
.card.is-leaving {
  z-index: 10; // bleibt oben während raus UND rein Animation
  border-radius: 112px 0 0 112px !important;
}

.container {
  position: relative;
  width: 224px;
  height: 224px;
  border-radius: 224px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 1s ease-in-out;
  transform: translateX(0);
  background-color: var(--secondary-color);
  height: 224px;
  width: 224px;
  padding: 24px;
  z-index: -1;
  border-radius: 0 112px 112px 0;
}

.card.is-active .text-container {
  
  transform: translateX(200px);
}