<section>
    <div class="content">

        <h1>Aktuelles bei uns</h1>
        <h3>Hier findest du unsere aktuellen Neuigkeiten, Artikel und Angebote auf einen Blick.</h3>

        <div class="content-container">

            <div class="container">
                <div class="img-site">
                    <img src="assets/img/fanschals.jpg" alt="">
                </div>
                <div class="text-container">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, maiores expedita minima in voluptas
                    ad nemo vero tempora nesciunt, itaque earum ipsam! Corrupti aut ipsum deserunt amet facere explicabo
                    non.
                </div>

            </div>
            <div class="container">
                <div class="img-site">
                    <img src="assets/img/fanschals.jpg" alt="">
                </div>
                <div class="text-container">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, maiores expedita minima in voluptas
                    ad nemo vero tempora nesciunt, itaque earum ipsam! Corrupti aut ipsum deserunt amet facere explicabo
                    non.
                </div>

            </div>


        </div>







    </div>

</section>