section {
    display: flex;
    justify-content: center;
    padding: 0 64px;
    margin-top: 200px;

}

.img-site {
    border-radius: 100%;
    overflow: hidden;
    width: 50%;
    height: 100%;

    img {
        width: 200px;
        height: 200px;
        object-fit: cover;


    }
}

.content-container {
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 224px;
    height: 224px;
    background-color: black;
    padding: 24px;
    border-radius: 200px;
    margin: 24px 0;
    transition: width 1s ease-in-out;
}

.text-container {
    width: 200px;
    display: flex;
    overflow: hidden;
}

.container:hover {
    width: 424px;

    .text-container {
        display: flex;
    }


}