section {
    margin-top: 140px;
    place-items: center;
    margin-bottom: 100px;
}

.wrapper {
    display: flex;
    width: 100%;
    max-width: 800px;
    padding: 12px 24px;
}

.h-30 {
    height: 30px !important;
}



.item-table td:last-child {
    text-align: right !important;
}