<section>
    <div class="content">
        <!-- <div (click)="back()" class="back-button">
            <mat-icon>arrow_back</mat-icon>

        </div> -->
        @for (product of currentlyProduct; track $index) {

        <div class="box" data-aos="flip-left">
            <div class="box-header">
                <div class="name">
                    <h2>
                        {{product.title}}
                    </h2>
                </div>
            </div>
            <div class="box-main">
                <div class="image">
                    <img src="assets/img/{{product.img}}.jpg" alt="">

                </div>
                <div class="box-container">
                    @for (text of product.text; track $index) {
                    <div class="row">
                        <div class="icon">
                            <img src="assets/icons/check.svg" alt="">
                        </div>

                        <p>{{text}}</p>



                    </div>
                    }
                    <div (click)="router.navigateByUrl('contact')" class="primary-button">
                        <span >Jetzt Anfragen!</span>
                    </div>
                </div>

            </div>

        </div>
        }

    </div>

</section>