<section>
    <div class="content">
        <div class="name">
            <h2>
                Grafikdesign – dein Look, dein Stil
            </h2>
        </div>
        <div class="images">
            <div class="img-container">
                <img src="assets/img/design.jpg" alt="">
                <div class="text-container">
                    <span>Planen</span>
                </div>

            </div>
            <div class="img-container">
                <img src="assets/img/design.jpg" alt="">
                <div class="text-container">
                    <span>Planen</span>
                </div>

            </div>
            <div class="img-container">
                <img src="assets/img/design.jpg" alt="">
                <div class="text-container">
                    <span>Planen</span>
                </div>

            </div>



        </div>
        <div class="details">
            <p>
                Jede Marke hat ihre eigene Geschichte, und wir helfen dir, sie sichtbar zu machen. Von individuellen
                Logos,
                die deine Identität auf den Punkt bringen, über ansprechende Flyer, die sofort ins Auge fallen, bis hin
                zu
                kompletten Branding-Konzepten, die deinem Unternehmen ein unverwechselbares Gesicht geben – wir
                gestalten
                Designs, die nicht nur schön aussehen, sondern auch wirken. Dabei achten wir auf ein harmonisches
                Zusammenspiel von Farben, Formen und Typografie, um eine klare Botschaft zu transportieren. Ob
                minimalistisch und modern oder verspielt und kreativ – wir entwickeln einen visuellen Stil, der zu dir
                passt
                und im Gedächtnis bleibt. Unser Ziel ist es, dass dein Auftritt nicht nur heute beeindruckt, sondern
                langfristig Wiedererkennung schafft.
            </p>
        </div>

        <div class="box">
            <div class="image">
                <img src="assets/img/design.jpg" alt="">

            </div>
            <div class="box-container">
                <div class="row">
                    <mat-icon>check</mat-icon>
                    <p>Einheitlicher Look für ein starkes Wir-Gefühl</p>
                </div>

                <div class="row">
                    <mat-icon>check</mat-icon>
                    <p>Individuell gestaltete Designs mit Logo und Farben</p>
                </div>

                <div class="row">
                    <mat-icon>check</mat-icon>
                    <p>Hochwertige Materialien für Komfort und Langlebigkeit</p>
                </div>

                <div class="row">
                    <mat-icon>check</mat-icon>
                    <p>Professioneller Auftritt bei Events, Messen oder im Alltag</p>
                </div>

                <div class="row">
                    <mat-icon>check</mat-icon>
                    <p>Vielseitig einsetzbar – von Sport bis Business</p>
                </div>

                <div class="row">
                    <mat-icon>check</mat-icon>
                    <p>Personalisierung mit Namen oder Position möglich</p>
                </div>

            </div>
        </div>
    </div>

</section>