section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;

}

h1 {
    margin-bottom: 64px;
    font-size: 64px;
    color: var(--primary-color);
    position: relative;
    text-align: center;
    background-image: url(/assets/img/strich.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.brush {
    position: absolute;
    top: 0;
    width: 400px;
    left: 0;
}

.header {
    position: relative;
}


.name {
    padding: 12px 0;
    width: 100%;
    background-color: var(--primary-color);

    h2 {
        font-size: 42px;
        text-align: center;
        color: white;
    }
}

:host {
    display: flex;
    flex: 1;
}

.images {
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.img-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;

    img {
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
}

.text-container {
    background-color: var(--tertiary-color);
    width: 100%;
    padding: 8px 0;
    text-align: center;
    border-radius: 0 0 20px 20px;

    span {
        color: white;
        font-family: 24px;

    }
}

.back-button {
    position: fixed;
    top: 120px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgba($color: #000000, $alpha: 0.05);
    transform: scale(1);
    transition: transform 75ms ease-in-out;
    cursor: pointer;

    mat-icon {
        font-size: 50px;
        width: 50px;
        height: 50px;
        color: var(--primary-color);
    }

    &:hover {
        transform: scale(1.2);
    }
}

.details {
    padding: 100px;

    p {
        font-size: 21px;
    }
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 500px;
    background-color: var(--tertiary-color);
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 100px;
    box-shadow: 4px 7px 11px 8px #00000036;


}

.box-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    justify-content: space-between;
    height: 100%;
    width: 50%;


}

.box-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 63px);

    .image {
        height: 100%;
        overflow: hidden;
        display: flex;
        flex: 1;

        img {
            object-fit: cover;
            width: 100%;

        }
    }
}

.box-header {
    width: 100%;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        font-size: 40px;
        height: 40px;
        width: 40px;
    }
}

.row {
    display: flex;
    gap: 16px;
    align-items: center;
    p {
        font-size: 21px;
        width: 89%;
        font-weight: bold;
    }
}


@media (max-width: 1024px) {
    .box-container {
        height: unset;
        width: unset;
        padding: 12px;
        gap: 34px;
    }

    .box-main {
        width: 100%;
        flex-direction: column;
        height: unset;
    }

    .row {
        p {
            font-size: 18px;
        }
    }

    .name {
        h2 {
            font-size: 24px;
        }
    }

    .box-header {
        height: 100%;
    }

    .box {
        height: unset;
        width: 100%;
    }

    .content {
        padding: 0 8px;
    }

    h1 {
        font-size: 48px;
    }

}

@media (max-width: 400px) {
    h1 {
        font-size: 36px;
    }
}