section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;

}


.name {
    padding: 12px 0;
    width: 100%;
    background-color: var(--primary-color);

    h2 {
        font-size: 42px;
        text-align: center;
        color: white;
    }
}

:host {
    display: flex;
    flex: 1;
}

.images {
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.img-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;

    img {
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
}

.text-container {
    background-color: var(--tertiary-color);
    width: 100%;
    padding: 8px 0;
    text-align: center;
    border-radius: 0 0 20px 20px;

    span {
        color: white;
        font-family: 24px;

    }
}

.details {
    padding: 100px;

    p {
        font-size: 21px;
    }
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 500px;
    background-color: var(--tertiary-color);
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 100px;


}

.box-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    justify-content: space-between;
    height: 100%;
    width: 50%;


}

.box-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 63px);

    .image {
        height: 100%;
        overflow: hidden;
        display: flex;
        flex: 1;

        img {
            object-fit: cover;
            width: 100%;

        }
    }
}

.box-header {
    width: 100%;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
        font-size: 40px;
        height: 40px;
        width: 40px;
    }
}

.row {
    display: flex;
    gap: 16px;
    align-items: center;




    p {
        font-size: 25px;
        width: 89%;
        font-weight: bold;
    }
}