section {
    width: 100%;
    height: 700px;
}

:host {
    width: 100%;
}

.content {
    background-image: url(/assets/img/mockup-5257444_1920.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 64px;
    
}

h1 {
    font-size: 48px;
    color: white;
    text-align: center;
}

h3 {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-bottom: 24px;
}

a {
    color: white;
}

@media (max-width:500px) {
    a {
        font-size: 20px;
    }

    h1 {
        font-size: 34px;
    }

    h3 {
        font-size: 20px;
    }
    .content {
        padding: 0 8px;
    }
    
}


