<section>
    <div class="content">
        <div class="text-container">
            <h1>Full-Service-Agentur für Merchandise & Branding in Essen</h1>
            <h3>Wir begleiten Sportveranstaltungen, Turniere und Markenauftritte in Essen und NRW mit durchdachtem Merchandise. Von der Idee bis zur Produktion – individuell, zuverlässig und mit Blick fürs Detail.</h3>
        </div>
        <div class="secondary-button">
            <a href="#product"><span>Jetzt entdecken!</span></a>
        </div>
        
    </div>
</section>
