<section>
    <div class="container-md">
        <div class="row align-items-center justify-content-center gap-4">
            @for (article of articles; track $index) {

            <mat-card class="shop-card col-sm-12 col-md-4 col-lg-3 mb-5" appearance="outlined" (click)="viewProductDetail(article.slug)">
                <mat-card-header>
                    <mat-card-title class="fw-bold">{{article.name}}</mat-card-title>
                    <mat-card-subtitle>{{article.subtitle}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/img/t-shirt/frohnhausen-tshirt-blue.png" alt="Photo of a product">
                <mat-card-content>
                    <p class="m-0"><span>{{article.morePricesExist ? 'ab ' : ''}}</span> {{getFirstVariantPrice(article).toFixed(2).replace('.', ',')}} €</p>
                    <p class="fw-normal"><img src="assets/icons/delivery_truck.svg" alt="">Lieferzeit cirka 2 Wochen</p>
                </mat-card-content>
            </mat-card>
            }
        </div>



    </div>
</section>