section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    padding-bottom: 64px;
    font-size: 64px;
    color: var(--primary-color);
    position: relative;
}

.service-containers {
    display: flex;
    align-items: center;
    justify-content: center;
    
    max-width: 1920px;
    width: 100%;
    flex-wrap: wrap;
    gap: 64px;
     
}

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    width: 100%;
    padding: 108px 64px;
    

}

.brush {
    position: absolute;
    top: 0;
    width: 400px;
    left: 0;
}

.header {
    position: relative;
}