.service-containers {
    display: flex;
    align-items: center;
    justify-content: center;
    
    max-width: 1920px;
    width: 100%;
    flex-wrap: wrap;
    gap: 64px;
     
}

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    width: 100%;
    padding: 0 64px;
    margin: 40px 0;

}