// :root {
//     --primary-color: #748DAE;
//     --secondary-color: #4E71FF;
//     --bg-color: #F5F5F5;
// }

@import "aos/dist/aos.css";

:root {
    --primary-color: #23322E;
    --secondary-color: #71A294;
    --tertiary-color: #98D9C5;
    --bg-color: #F5F5F5;
}

html {
    scroll-behavior: smooth;
}


* {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto;
}

body {
    background-color: var(--bg-color);
}


a {
    text-decoration: none;
    font-size: 32px;
    color: var(--primary-color);
    transform: scale(1.0);
    transition: transform 75ms ease-in-out;
    font-weight: bold;

    &:hover {
        transform: scale(1.2);
        color: var(--secondary-color);
    }
}

.primary-button {
    padding: 8px 16px;
    background-color: var(--primary-color);
    cursor: pointer;
    transform: scale(1);
    transition: transform 75ms ease-in-out;
    width: fit-content;
    border-radius: 20px;



    >span {
        color: white;
        width: fit-content;
        font-size: 24px;
    }


    &:hover {
        filter: brightness(1.5);
        transform: scale(1.1);

    }
}

.secondary-button {
    padding: 8px 16px;
    background-color: var(--secondary-color);
    cursor: pointer;
    transform: scale(1);
    transition: transform 75ms ease-in-out;
    width: fit-content;
    border-radius: 20px;



    >span {
        color: white;
        width: fit-content;
        font-size: 24px;
    }


    &:hover {
        filter: brightness(1.1);
        transform: scale(1.1);

    }
}

.whatsapp-button {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25D366;
    padding: 8px;
    border-radius: 100%;
    position: sticky;
    top: 0;

    img {
        width: 30px;
        
        
    }

    a {
        font-size: unset !important;
        transition: none !important;
        &:hover {
            transform: none;
        }
        object-fit: contain;
        width: 30px;
        height: 30px;
    }

}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto_Condensed-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto_Condensed-Bold.ttf);
    font-weight: bold;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
