section {
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px 64px;
    position: relative;
}

.logo {
    margin-right: 100px;

    img {
        width: 150px;
    }
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    h3 {
        color: white;
        font-size: 21px;
    }

    a {
        color: var(--tertiary-color);
        font-size: 21px;
    }
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    img {
        width: 30px;
        transform: scale(1);
        transition: transform 75ms ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.left-side {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;

    span {
        color: white;
        font-size: 21px;
        text-align: center;
    }

    a {
        text-align: center;
    }
}

table {

    th {
        padding-right: 24px;
        font-size: 21px;
        text-align: left;
    }

    td {
        font-size: 21px;
        color: white;
    }

    tr {
        height: 25px;
        color: white;
    }
}

.developer {
    font-size: 18px;
    color: #ffffff75;
    opacity: 0.8;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media (max-width: 1024px) {

    .logo {
        display: none;
    }

    .content {
        flex-direction: column;
        align-items: center;
        padding: 32px 8px;
    }

    .left-side {
        flex-direction: column;
        align-items: center;
    }

    .social-media {
        flex-direction: row;
    }

}